# Python examples in lecture 10
* This file is a jupyter notebook. To run it you can download it from the DLE and run it on your own machine.
* Or you can run it on google collab <https://colab.research.google.com> via your google account. This may be slower than running on your own machine
* Information on downloading notebooks from the store to your computer https://youtu.be/1zY7hIj5tWg

## Why do we use classes and objects in python?

* The use of objects allows a better modelllng of a system. For example, if we are writting python code to record students results, it may better to work with objects to represent the student.
* The details of the object are hidden from the user of the object. This is sometimes known an encapsulation https://en.wikipedia.org/wiki/Encapsulation_(computer_programming) or information hiding https://en.wikipedia.org/wiki/Information_hiding

In [1]:
class Rectangle:
    def __init__(self, x, y):
        self.x = x
        self.y = y
    def area(self):
        return self.x * self.y

r = Rectangle(1,2)
print("Area = " , r.area() )

Area =  2

##  Inheritance

* The pure idea of OO programing is that we have a library of objects, which interact via methods.
* But how do we extend classses?

For example if we are writing software for the University. We
might need classes for

* Lecturers
* Professor
* Technician
* Administrative staff

There will be common attributes, such as names, but some which
are different, such as only Lecturers and Professor only teach classes.

* We want to collect together the common parts of the objects.
* We don't want to do cut and paste programming  https://en.wikipedia.org/wiki/Copy-and-paste_programming to code similar objects.

## Inheritance example

I have shown you a rectangle class in python with height and width.


We want to create an object for coloured rectangle.


* We introduce a ColourRectangle class which inherits from the Rectangle class.
* The ColourRectangle class inherits from the Rectangle class.
* The ColourRectangle class contains the name of the colour.

In [2]:
class Rectangle:
    def __init__(self, x, y):
        self.x = x
        self.y = y
    def area(self):
        return self.x * self.y

class ColourRectangle(Rectangle):
  def __init__(self, x, y, colour):
    super().__init__(x, y) 
    self.colour = colour
  def print_colour(self):
    print("Colour = " , self.colour)

rectangle = ColourRectangle(100, 45, "Red")
print("Area = " , rectangle.area())
rectangle.print_colour()

Area =  4500
Colour =  Red

## Inheritance jargon

* Rectangle is the parent class.

* ColourRectangle is the child class.

* The super() builtin returns a proxy object (temporary object of the superclass)

##  Object

* All classes in python inherit from the object class.

* The object() function returns an empty object.

* This object is the base for all classes, it holds the built-in properties and methods which are default for all classes.

* However, for python3 you don't need to add explicit inheritance   of the object.

In [3]:
x = object()
print("Methods in the object " , dir(x))
print("Type of x ", type(x))

Methods in the object  ['__class__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__']
Type of x  <class 'object'>

* In python 3, the definitions for Simple and SimpleA below are equivalent.

* **dir** writes out the methods of the class.

In [4]:
class Simple:
    def __init__(self, x):
        self.x = x
class SimpleA(object):
    def __init__(self, x):
        self.x = x

a = Simple(10)
b = SimpleA(5)
print(dir(a))

['__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', 'x']

##  Recommendations for object oriented design


* I would recommend being very careful on using inheritance in your code.
* It is often recommended to use composition rather than inheritance https://realpython.com/inheritance-composition-python/

* It is usually recommended to not use multiple inheritance, where a class can inherit from multiple classes.

* It is important to know about inheritance.

* I once wrote a c++ code to do statistical analysis. I used multiple inheritance to convert the data into a standard format. The code ended up a total mess.

##  Further reading

* Chapter 18  Inheritance from the book: Think Phython  https://greenteapress.com/thinkpython/html/thinkpython019.html#toc195
* W3 schools page on Inheritance https://www.w3schools.com/python/python_inheritance.asp

#  Inserting  into and changing a SQLite database

Recall the CRUD model of interacting with a database  

https://en.wikipedia.org/wiki/Create,_read,_update_and_delete


* Create
* Read
* Update
* Delete

We will now review Create and introduce the Update and Delete.

##  Component parts of SQL

**data definition language (DDL)** https://en.wikipedia.org/wiki/Data_definition_language
* create table
* alter table
* drop table   (delete a table)

**data query language (DQL)** https://en.wikipedia.org/wiki/Data_query_language
* select 

**A data manipulation language (DML)** is a computer programming language used for adding (inserting), deleting, and modifying (updating) data in a database. https://en.wikipedia.org/wiki/Data_manipulation_language

##  Example of adding a table into a database

The example python code below creates a SQLite database in the file:  <b> example.db </b>

The name of the table is:  <b> EMPLOYEE </b> with column headings

*  FIRST_NAME
*  AGE

Note I have not added a key for the table.

In [5]:
import sqlite3
conn = sqlite3.connect('example.db')

#Creating a cursor object using the cursor() method
cursor = conn.cursor()
cursor.execute("DROP TABLE EMPLOYEE")

#Creating table as per requirement. This is an example of a SQL schema.
sql ='''CREATE TABLE IF NOT EXISTS EMPLOYEE(
   FIRST_NAME CHAR(20),
   AGE INT
)'''
cursor.execute(sql)
print("Table created successfully........")
# Commit your changes in the database
conn.commit()
#Closing the connection
conn.close()

OperationalError: no such table: EMPLOYEE

## Comment on the above code

* The command <b> conn.commit() </b> makes the changes to the database file.
* If the EMPLOYEE table is already in the file example.db you will get an error. So I would first delete the file <b> example.db </b>

## Inserting a new row into SQLite database file

* Now that we have created a database file we can add rows to the table.
* In a previous lecture we have seen how to create a table using pandas.
* This example puts constant values into the database.

In [6]:
import sqlite3
conn = sqlite3.connect('example.db')
#Creating a cursor object using the cursor() method
cursor = conn.cursor()
# Preparing SQL queries to INSERT a record into the database.
cursor.execute('''INSERT INTO EMPLOYEE(
   FIRST_NAME, AGE) VALUES 
   ('Ramya',  27)''')
cursor.execute('''INSERT INTO EMPLOYEE(
   FIRST_NAME,  AGE) VALUES 
   ('Tom',  20)''')
cursor.execute('''INSERT INTO EMPLOYEE(
   FIRST_NAME, AGE) VALUES 
   ('Jane',  35)''')
cursor.execute('''INSERT INTO EMPLOYEE(
   FIRST_NAME, AGE) VALUES 
   ('Roger', 22 )''')
# Commit your changes in the database
conn.commit()
print("Records inserted........")
# Closing the connection
conn.close()

OperationalError: no such table: EMPLOYEE

We can check that the rows have been added to the table in the database

* Use the python code to read the table to show the rows have been entered.
* Or you can use a command line utility such as https://sqlite.org/cli.html
* Or you can use the online https://inloop.github.io/sqlite-viewer/

In [7]:
import sqlite3
connection = sqlite3.connect("example.db")
cursor = connection.cursor()
cursor.execute("SELECT * FROM EMPLOYEE") 
result = cursor.fetchall() 
for r in result:
    print(r)

OperationalError: no such table: EMPLOYEE

## Example of inserting values into a table

* In this example, variables **name_** and **age_** are addded to the table.

In [8]:
import sqlite3

conn = sqlite3.connect('example.db')

#Creating a cursor object using the cursor() method
cursor = conn.cursor()

name_ = "John"
age_  = 45

# Preparing SQL queries to INSERT a record into the database.
cursor.execute('''INSERT INTO EMPLOYEE(
   FIRST_NAME, AGE) VALUES 
   (?, ?)''' , (name_, age_) )
# Note that (name_, age_ ) is a tuple data type

# Commit your changes in the database
conn.commit()
print("Records inserted........")
# Closing the connection
conn.close()

OperationalError: no such table: EMPLOYEE

##  Updating and changing the table

The data in the table can be updated

The SQL command sets all the ages to 35

<b> UPDATE EMPLOYEE SET AGE = 35;  </b>

The SQL commands adds 1 to each age

<b> UPDATE EMPLOYEE SET AGE = AGE+1;  </b>

The SQL command below sets Tom's age to 40

<b> UPDATE EMPLOYEE SET AGE=40 WHERE FIRST_NAME = 'Tom'</b>

See the file <b> update_example.py </b> for an example using python.

See  https://www.w3schools.com/sql/sql_update.asp for more examples

In [9]:
import sqlite3
connection = sqlite3.connect("example.db")
cursor = connection.cursor()

#Updating the records
sql = "UPDATE EMPLOYEE SET AGE=40 WHERE FIRST_NAME = 'Tom' "
cursor.execute(sql)
print("Table updated...... ")

cursor.execute("SELECT * FROM EMPLOYEE") 
result = cursor.fetchall() 
for r in result:
    print(r)

OperationalError: no such table: EMPLOYEE

###  Deletion 
Data in the tables can be deleted.

The SQL command deletes the row with FIRST_NAME equal to Jane.

<b> DELETE FROM EMPLOYEE WHERE FIRST_NAME = 'Jane'; </b>

The SQL command deletes everything from the EMPLOYEE table.

<b> DELETE FROM EMPLOYEE ;</b>

See more information at: https://www.w3schools.com/sql/sql_delete.asp

In [10]:
import sqlite3
connection = sqlite3.connect("example.db")
cursor = connection.cursor()

#Updating the records. Remove row with First_Name Jane
sql = "DELETE FROM EMPLOYEE WHERE FIRST_NAME = 'Jane';"
cursor.execute(sql)
print("Table updated...... ")

cursor.execute("SELECT * FROM EMPLOYEE") 
result = cursor.fetchall() 
for r in result:
    print(r)

OperationalError: no such table: EMPLOYEE

##  Altering the TABLES

The SQL command below adds a new column LAST_NAME to the EMPLOYEE table

<b>  ALTER TABLE EMPLOYEE ADD COLUMN LAST_NAME ; </b>

The SQL command renames the table EMPLOYEE to STAFF

<b> ALTER TABLE EMPLOYEE RENAME to STAFF  ; </b>

The SQL ccommand rename a column in table EMPLOYEE

<b>  ALTER TABLE EMPLOYEE RENAME COLUMN Age TO StaffAge ; </b>


Some database systems allow a column to be deleted. This is not so easy with SQLite https://www.sqlitetutorial.net/sqlite-alter-table/

See  https://www.sqlite.org/lang_altertable.html  for additional information.

In [11]:
import sqlite3
connection = sqlite3.connect("example.db")
cursor = connection.cursor()

# Add a new column
sql = "ALTER TABLE EMPLOYEE ADD COLUMN LAST_NAME" 
cursor.execute(sql)
print("Table updated...... ")

cursor.execute("SELECT * FROM EMPLOYEE") 
result = cursor.fetchall() 
for r in result:
    print(r)

OperationalError: no such table: EMPLOYEE