# Python examples in lecture 8
* This file is a jupyter notebook. To run it you can download it from the DLE and run it on your own machine.
* Or you can run it on google collab <https://colab.research.google.com> via your google account. This may be slower than running on your own machine

##  Creating a pandas dataframe

Creating Pandas Dataframe from lists of lists.

In [ ]:
import pandas as pd 
data = [['Tom', 23], ['Nick', 35], ['Jane', 24]] 
print(data[1])
df = pd.DataFrame(data, columns = ['Name', 'Age']) 
print(df)

##  Creating a pandas dataframe

Creating Pandas Dataframe from list of dictionaries

In [ ]:
import pandas as pd 
dict1 = {'a': 1, 'b': 2, 'c':3}
dict2 =  {'a':10, 'b': 20, 'c': 30}  
print(dict1["b"])
data = [ dict1, dict2 ]
#print(data)
df = pd.DataFrame(data) 
print(df)

##  Extracting variables from pandas dataframe

We need to be able to get information out of the dataframe

* **df['Age']**  where Age is a column name
* **df.iloc[1,1]** element in first row and first column
* **df.loc[1,'Age']** element in first row and first column=Age
* **df['Age'].to\_numpy()** extract a column to numpy array

Note the difference between **iloc** and **loc**.

In [ ]:
import pandas as pd 
data = [['Tom', 23], ['Nick', 35], ['Jane', 24]] 
df = pd.DataFrame(data, columns = ['Name', 'Age']) 
print(df)
print("df.iloc[1,1] = " , df.iloc[1,1])
print("df.loc[1,Age] = " , df.loc[1,'Age'])
print("df['Age'].to_numpy()" , df['Age'].to_numpy())

##  Changing numbers in a pandas dataframe

In [ ]:
import pandas as pd 
data = [['Tom', 23], ['Nick', 35], ['Jane', 24]] 
df = pd.DataFrame(data, columns = ['Name', 'Age']) 
df.iloc[1,1] = 56
print(df)

##  Deleting columns from pandas data frame

* To remove a column from the dataframe use **drop**

* The example blow deletes columns: pop and gdpPercap

In [ ]:
import pandas as pd
gapminder_url='https://bit.ly/2cLzoxH'
gapminder = pd.read_csv(gapminder_url)
print(gapminder.head(3))
# pandas drop a column with drop function
gapminder.drop(['pop', 'gdpPercap'],axis=1,inplace=True)
print("------------------------------")
print(gapminder.head(3))

## Missing values in datasets

* Many large data sets have missing values.
* Why?  Mistakes, bugs in software.

<pre>
Name,Age,Sex
John, 22, Male
Jane, 25, Female
Roger,, Male
Karen,21, Female
</pre>

Roger's age is missing

##  Dealing with missing values
* NaN is a missing value in pandas

In [ ]:
import pandas as pd
df = pd.read_csv("peopleBad.csv")
print(df)
print("sum of ages = " , df['Age'].sum())

##  Options for dealing with missing values

Remove all the missing values. This is a safe option.
However the size of the data set is
  then smaller.

* Set the missing values to 0.

* Set the missing values to the mean value of the column.

* Set the value to the value above in the row above

## Remove the missing values

* Remove NaN's from the loaded data using **dropna**
* Remove Roger row  because of missing age.
* We have lost 25% of the data set

In [ ]:
import pandas as pd
df = pd.read_csv("peopleBad.csv")
df.dropna(inplace=True)
print(df)

##  Set the missing values to a constant

*  Age of Roger set to 22
* Could also set Roger's age to mean age.

In [ ]:
import pandas as pd
df = pd.read_csv("peopleBad.csv")
x = df["Age"].mean()
print("mean = " , x)
df.fillna(df["Age"].mean(), inplace=True)
print(df)

## Other options

In [ ]:
import pandas as pd
df = pd.read_csv("peopleBad.csv")
df.fillna(method='ffill', inplace=True)
print(df)

## Comments on data cleaning

The cleaned data will be loaded into a machine learning algorthim or visualization dashborad.

* Additional techniques can be used to deal with missing data, such as linear regression oor clustering (see modules in the second semester.) 
* Even more sophisticated techniques such as neural networks can be used: https://www.sciencedirect.com/science/article/abs/pii/S0020025522001931  Handling missing data through deep convolutional neural network
* It could be that the data cleaning introduces patterns that change the results of the machine learning. 

You may need to run some experiments with the machne learning to test the cleaning.

##  Pandas summary functions

There are many useful functions to summarize the data.

In [ ]:
import pandas as pd

data = {'Gender':['m','f','f','m','f','m','m'],
        'Height':[172,171,169,173,170,175,178]}
df = pd.DataFrame(data)
print(df)

print(df.groupby('Gender').count())
print(df.groupby('Gender')['Height'].mean())

##  Sorting a dataframe

In [ ]:
import pandas as pd

data = {'Gender':['m','f','f','m','f','m','m'],
   'Height':[172,171,169,173,170,175,178]}
df = pd.DataFrame(data)
print(df)

# sorting data frame by name
df.sort_values("Height", ascending = True,
                 inplace = True)
print("Sorted values")
print(df)

We can update the index

In [ ]:
df.reset_index(inplace = True)
df.drop(['index' ],axis=1,inplace=True)
print(df)

## Plotting from pandas


* One way to plot data from pandas would be to extract the data into a list and then plot it using a python library.

* Data in a pandas dataframe can be plotted directly.

* Many different types of plots are available:  scatter, histogram

* The plotting routines uses the matplotlib library.

* I find the pandas plotting routines a bit ugly.


More information at
https://pandas.pydata.org/pandas-docs/stable/getting_started/intro_tutorials/04_plotting.html

# Plotting from pandas

In [ ]:
import matplotlib.pyplot as plt
import pandas as pd
from IPython.display import display, HTML

df = pd.DataFrame({'x': [1,2,-3,3,5,7,-1],
                   'y' : [2.6,3.4,3.25,2.8,
                   1.75,1.34,-3.345]})
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_html.html
#print(df)
display(HTML(df.to_html(index=False)))
df.plot(x='x', y='y', kind='scatter')
plt.title("Plot of data in pandas")
#plt.savefig("pandas.png")
plt.show()

## SQL select examples

The following cells contain the different SQL selectn examples shown in the lectures. The examples need the
followig filess (available on the DLE)

*  student_record.db
*  house.db
*  enrolment.db

In [ ]:
#   SQL_grades_one.py

import sqlite3
connection = sqlite3.connect("student_record.db")
cursor = connection.cursor()
cursor.execute("SELECT ALL last FROM student ") 
result = cursor.fetchall() 
for r in result:
    print(r)

In [ ]:
#  SQL_grades_two.py

import sqlite3
connection = sqlite3.connect("student_record.db")
cursor = connection.cursor()
cursor.execute("SELECT DISTINCT last FROM student ") 
result = cursor.fetchall() 
for r in result:
    print(r)

In [ ]:
# SQL_grades_three.py
import sqlite3
connection = sqlite3.connect("student_record.db")
cursor = connection.cursor()
cursor.execute("SELECT * FROM grade WHERE mark >= 60 ") 
result = cursor.fetchall() 
for r in result:
    print(r)

In [ ]:
#  SQL_grades_four.py

import sqlite3
connection = sqlite3.connect("student_record.db")
cursor = connection.cursor()
cursor.execute("SELECT DISTINCT ID FROM grade WHERE mark >= 60") 
result = cursor.fetchall() 
for r in result:
    print(r)

In [ ]:
##  SQL_grades_mult.py


import sqlite3
connection = sqlite3.connect("student_record.db")
cursor = connection.cursor()
cursor.execute("SELECT first, last, mark FROM student, grade WHERE (student.id = grade.id) AND (mark > 40) ") 
result = cursor.fetchall() 
for r in result:
    print(r)

In [ ]:
#  SQL_grades_mult_one.py


import sqlite3
connection = sqlite3.connect("student_record.db")
cursor = connection.cursor()
cursor.execute("SELECT * FROM student, grade, modules WHERE student.id = grade.id AND modules.code = grade.code")
result = cursor.fetchall() 
for r in result:
    print(r)

In [ ]:
#  SQL_enrolment_one.py

import sqlite3
connection = sqlite3.connect("enrolment.db")
cursor = connection.cursor()
cursor.execute("SELECT * FROM student CROSS JOIN enrolment")
result = cursor.fetchall() 
for r in result:
    print(r)

In [ ]:
#  SQL_enrolment_two.py

import sqlite3
connection = sqlite3.connect("enrolment.db")
cursor = connection.cursor()
cursor.execute("SELECT * FROM student NATURAL JOIN enrolment")
result = cursor.fetchall() 
for r in result:
    print(r)

In [ ]:
#   SQL_enrolment_three.py

import sqlite3
connection = sqlite3.connect("enrolment.db")
cursor = connection.cursor()
cursor.execute("SELECT * FROM Student INNER JOIN Enrolment USING (ID)")
result = cursor.fetchall() 
for r in result:
    print(r)

In [ ]:
#   SQL_house_one.py

import sqlite3
connection = sqlite3.connect("house.db")
cursor = connection.cursor()
cursor.execute("SELECT * FROM buyer INNER JOIN property ON price <= budget")
result = cursor.fetchall() 
for r in result:
    print(r)